* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

head {
    display: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 500px 1fr;
    grid-template-areas:
        "header"
        "mainContent"
        "footer";
}

.header{
    grid-area: header;
    text-align: center;
    padding: 80px 20px 20px;
}

.mainContent{
    grid-area: mainContent;
}

#svg{
    width: 250px;
    height: 100%;
    margin: 0 auto;
}

.footer{
    grid-area: footer;
    padding: 20px;
    text-align: center;
}