* {
    box-sizing: border-box;
    margin: 2px;
    padding: 2px;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}

.barBorder {
    stroke-width: 0.2;
    stroke: rgb(0, 0, 0);
}
